<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="disqus_thread"></div>
      <div id="hyvor-talk-view"></div>
      <script type="text/javascript">
          var HYVOR_TALK_WEBSITE = 1285; // DO NOT CHANGE THIS
          var HYVOR_TALK_CONFIG = {
              url: '{{ page.url | absolute_url }}',
              id: '{{page.id}}',
              loadMode: 'scroll'
          };
      </script>
      <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
    </div>
  </div>
</div>