<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>香蕉貓的部落格</title>

    {% include global-css.html %}

    <link href="{{site.url}}{{site.baseurl}}/css/loading.css" rel='stylesheet' type="text/css"/>
    <link href="{{site.url}}{{site.baseurl}}/css/head.css" rel='stylesheet' type="text/css"/>
    <link href="{{site.url}}{{site.baseurl}}/css/archives.css" rel='stylesheet' type="text/css"/>
    <link href="{{site.url}}{{site.baseurl}}/css/jPages.css" rel='stylesheet' type="text/css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div id="wrapper" class="wrapper" >
        {% include loading.html %}
        {% include navbar.html %}
        {% include global-js.html %}
        {% include head.html %}
        {% include archives.html %}
        {% include footer.html %}

    </div>


    <script src="{{site.url}}{{site.baseurl}}/js/loading.js"></script>
    <script src="{{site.url}}{{site.baseurl}}/js/jPages.min.js"></script>
    <script src="{{site.url}}{{site.baseurl}}/js/sidebar.js"></script>
    <script src="{{site.url}}{{site.baseurl}}/js/content-pagination.js"></script>

</body>
</html>

